*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.img-container {
    display:grid;
    grid-template-columns: 9fr 1fr;
    column-gap:5px;
    width:100%;
    outline: solid 2px red;
}
.img-container:hover{
    cursor:pointer;
}
.month.error, 
.day.error, 
.year.error{
    border:2px solid red;
    position:relative;
}
/* .month.error::after, .day.error::after, .year.error::after{
    position:absolute;
    content:"Field is required";
    outline: 2px solid green;
    width:100%;
    height:50px;
    top:0;
    left:0;
    z-index:1;
} */
input{
    width:100%;
}

.day-container, 
.month-container, 
.year-container{
    /* position:relative; */
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    margin-right:10px;
    height:100px;
    width:100%;
}

.day-container.error::after,
.month-container.error::after,
.year-container.error::after{
    position:absolute;
    content: "Field is required";
    color: red;
    margin-top:5px;
    transform:translateY(55px);
}
.day-container.invalidDay::after{
    position:absolute;
    content: "Must be a valid day";
    color: red;
    margin-top:5px;
    transform:translateY(55px);
}
.day-container.invalidDate::after{
    position:absolute;
    content: "Must be a valid date";
    color: red;
    margin-top:5px;
    transform:translateY(55px);
}
.month-container.invalidMonth::after{
    position:absolute;
    content: "Must be a valid month";
    color: red;
    transform:translateY(55px);
    margin-top:5px;
}
.year-container.invalidYear::after{
    position:absolute;
    content: "Must be in the past";
    color: red;
    transform:translateY(55px);
    margin-top:5px;
}

img {
    background-color:purple;
    border-radius: 50%;
    text-align:center;
    /* margin-right:50px; */
    z-index:10;
}
/* Make sure to use pseudo elements with divs, spans, etc, 
   anything that holds content */

/* I couldn't use the pseudo element with the img tag because it was 
   a self-closing tag */

.img-container::before{ 
    height: 2px;
    content: " ";
    background: black;
    width: 100%;
    /* left:0; */
    transform:translateY(22px);
}
/* .img-container::after{ 
 
    display:inline;
    content: " hello";
    background: white;
    left:0;
    z-index:1;
} */

input{
    padding:10px;
}
.date-form{
    display:flex;
    justify-content:flex-start;
    padding-top:20px;
    margin-left:20px;
    margin-bottom:10px;
    width:70%;
    outline:2px solid pink;
}
.main-card{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:flex-start;
    margin: 0 auto;
    margin-top:60px;
    padding-top:20px;
    outline: red 2px solid;
    width:85%;
}


/* @media only screen and (max-width:600px){
    .date-form{
        flex-direction:column;
    }
} */