*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.img-container {
    display:grid;
    grid-template-columns: 9fr 1fr;
    column-gap:5px;
    width:100%;
    outline: solid 2px red;
}
.img-container:hover{
    cursor:pointer;
}
.month.error, .day.error, .year.error{
    border:2px solid red;
    position:relative;
    z-index:-1;
}
/* .month.error::after, .day.error::after, .year.error::after{
    position:absolute;
    content:"Field is required";
    outline: 2px solid green;
    width:100%;
    height:50px;
    top:0;
    left:0;
    z-index:1;
} */
form{
    display:flex;
}


.date-form .day.error::after,
.date-form .month.error::after,
.date-form .year.error::after {
    position: absolute;
    content: "Field is required";
    outline: 2px solid green;
    width: 100%;
    height: auto; /* Adjusted height to auto */
    top: 100%; /* Position it below the input field */
    left: 0;
    color: white; /* Set a contrasting text color */
    background-color: green; /* Set a background color */
    display:inline-block;
}
.day-container, 
.month-container, 
.year-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-right:5px;

}
.day-container.error::after,
.month-container.error::after,
.year-container.error::after{
    content: "Field is required";
    color: red;
}


img {
    background-color:purple;
    border-radius: 50%;
    text-align:center;
    /* margin-right:50px; */
    z-index:10;
}
/* Make sure to use pseudo elements with divs, spans, etc, 
   anything that holds content */

/* I couldn't use the pseudo element with the img tag because it was 
   a self-closing tag */
button{
    background:none;
    border:none;
}

.img-container::before{ 
    height: 2px;
    content: " ";
    background: black;
    width: 100%;
    /* left:0; */
    transform:translateY(22px);
}
/* .img-container::after{ 
 
    display:inline;
    content: " hello";
    background: white;
    left:0;
    z-index:1;
} */

input{
    padding:10px;
}
.date-form{
    padding-top:20px;
    margin-bottom:10px;
}
.main-card{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    margin: 0 auto;
    margin-top:60px;
    outline: red 2px solid;
    width:85%;
}
